@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(197 248 230)
    ;
}

/* ÁREA SIDEBAR */

nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #b7edff ;
    width: 6.5%;
    overflow: hidden;
    transform: width 0.2s linear;
    box-shadow: 0 20px 35px (0,0,0,0.1);
}

.nav2{
    background: #f8ffa0 ;
}


.logo{
    text-align: center;
    display: flex;
    text-align: center;
    transform: all 0.5s ease;
    margin: 10px 0 0 10px; 
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 13px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: black;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    margin-top: 35px;
}


.fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.nav-item2{
    position: relative;
    top: -10px;
    margin-left: 10px;
}

a:hover{
    background: white;
}

.nav2:hover{
    width: 280px;
    background:#edf769;
    transition: all 1s ease;
}


nav:hover{
    width: 280px;
    background:     #4bcefa;
    transition: all 1s ease;
}

.logout{
    position: relative;
    bottom: 0;
}

/* ÁREA GRÁFICO */

.container{
    width: 93.5%;
    height: 100vh;
    background-image: url(../assets/1123963_OPSEG70.jpg);
    margin-left: 6.5%;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.text-dashboard{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.title-dashboard{
    font-size: 30px;
    margin-top: 60px;
    color: white;
    font-weight: bold;
}


.slides-list {
    list-style: none;
    margin: 20px 0px 0px -65px;
    padding: 0;
}

.slide{
    background-color: white;
    border-radius: 20px;
    margin-left: 300px;
    width: 700px;
    height: 350px;
}

/* canvas {
    height: auto;
    width: 80vw;
    padding: 10px 1vw 10px 3vw;
} */



/* ÁREA DOAÇÃO */

.container-doacao{
    width: 93.5%;
    height: 100vh;
    margin-left: 6.5%;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.nav3{
    background: rgb(217, 255, 242) ;
}

.nav3:hover{
    width: 280px;
    background:rgb(138, 255, 214);
    transition: all 1s ease;
}