/* VIDEO DE FUNDO LOGIN */

.video-container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}   


.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* FORMULÁRIO LOGIN */
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
}

.login-box:hover{
    box-shadow: 0 0 5px white,
                0 0 25px white;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.user-box{
    position: relative;
}

.input-login{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}

.label-login{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size:  16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s ease;
}

.login-box .user-box input:focus ~ label{
    top:-20px;
    left: 0;
    color: #FFA07A;
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box form a:hover{
    background-color: #FFA07A;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px white,
                0 0 25px white;
}